@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: "Poppins" , sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

/*---------------Go back to top button-------------*/
html { 
  scroll-behavior: smooth;

}

/*------------back to top buttom-------------------*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}


/*--------------------header------------------------*/

.header{
    min-height: 68px;
    width: 100%;
    background-image: linear-gradient(rgb(255 255 255 / 10%),rgb(255 255 255 / 10%));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    height: auto;
  }
  
  nav img{
    width: 190px;
    padding-left: 15px;
  }
  nav{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav-links{
    flex: 1;
    text-align: right;
    padding-top: 16px;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(30, 231, 238, 0.7);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }
  
  
  @media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
  }
  
  nav .fa{
    display: none;
  }
  
  @media(max-width: 700px){
    .text-box h1{
        font-size: 34px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #2432f5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 35px;
    }
  }
  
  
  /*---------------------------------------------------*/
  
  
  
  
  
  
  
  
  
  
  







  
  
  
  
  
  
  












  
  

/*---------------Footer-----------------*/
footer{
    background: #000000;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
  }
  footer::before{
    content: '';
      /*  position:absolute;   */
    left: 0;
    top: 2410px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 10px 0px 5px 0px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #000000;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #000000;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #000000;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #000000;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #000000;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #000000;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #000000;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #000000;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #000000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #000000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
    
  }
  .content .link-boxes .box li a::after{
    content: "";
    position: absolute;
    background-color: #31a3d8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
  }
  .hover-footer{
    display: inline-block;
    padding-bottom: 0.25rem;
  }
  
  
  
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #000000;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  
  .content img {
      height: 66px;
      width: 180px;
      align-content:stretch;
      
  }

#preloader{
    background: #000000 url(Image/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}